<div *ngIf="contact">

    <a href="#" (click)="goBack()">Go back</a>

    <h2>{{contact.fullName}}</h2>

    <div class="container">

        <div class="row">
        
            <div class="col-2">
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-outline-primary btn-sm">Correct name</button>
                    <button type="button" class="btn btn-outline-primary btn-sm">Add address</button>
                    <button type="button" class="btn btn-outline-primary btn-sm">Correct address</button>
                </div>
            </div>
        
            <div class="col">
                <div class="row">
                    <div class="col">
                        <span>First Name:</span>
                    </div>
                    <div class="col">
                        {{contact.foreName}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span>Last Name:</span>
                    </div>
                    <div class="col">
                        {{contact.lastName}}
                    </div>
                </div>
            </div>
        
        </div>      

    </div>

    <div>
        <!-- <label>Name:
            <input [(ngModel)]="contact.name" placeholder="name" />
        </label> -->
    </div>

</div>


